* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --main-color: #ee75b5;
  --text-color: #010101;
  --2nd-color: #434343;
  --other-color: #666666;
  --big-font: 5rem;
  --h2-font: 2.3rem;
  --p-font: 1.3rem;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}


